# Unity folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Tt]est/

# IDE / editors
.vs/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
.vscode/

# OS files
.DS_Store
Thumbs.db